.searchBox {
    max-width: 320px;
    width: 100%;
    margin-bottom: 30px;
}

.label {
    display: flex;
    flex-direction: column;
}

.field {
    border: none;
    border-radius: 3px;
    height: 34px;
    padding: 0 6px;
    background-color: #D3D3D3FF;
}