.formWrapper {
    border: 2px solid #000;
    border-radius: 6px;
    max-width: 320px;
    width: 100%;
    padding: 20px 12px 12px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
}

.field {
    height: 34px;
    padding: 0 6px;
}

.btn {
    font-size: 16px;
    padding: 6px;
    margin: 0 auto;
}

.errorMessage {
    color: red;
}