.formWrapper {
    border: 2px solid rgb(31, 27, 27);
    border-radius: 6px;
    max-width: 320px;
    width: 100%;
    padding: 20px 12px 12px;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label {
    display: flex;
    flex-direction: column;
}

.field {
    border: none;
    border-radius: 3px;
    height: 34px;
    padding: 0 6px;
    background-color: #D3D3D3FF;
}

.btn {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px;
    margin: 0 auto;
    background-color: #D3D3D3FF;
}

.errorMessage {
    color: coral;
}