.container {
    display: flex;
    align-items: center;
}

.message {
    margin-right: 12px;
}

.btn {
    border: none;
    border-radius: 3px;
    font-size: 16px;
    padding: 6px;
    background-color: #D3D3D3FF;
}